.projectCard {
    background: var(--light_blue);
    width: 90%;
    margin: 2rem 0px;
    border: 2px solid var(--gold_color);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #fff;
    overflow: hidden;
}

.projectCard__img > a > img {
    width: 100%;
    height: 13rem !important;
    border-radius: 9px 9px 0px 0px;
}

.projectCard__details {
    padding: 1rem 1rem;
}

.projectCard__details > p:last-child {
    font-size: 0.93rem;
}

.projectCard__details > p:last-child, h4 {
    color: #fff;
}

.projectCard__seeMore {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: var(--gold_color);
}

.projectCard__seeMore:hover {
    color: #fff;
    cursor: pointer;
    background-color: var(--dark_blue);
    text-decoration: none;
    overflow: hidden;
}

.projectCard__seeMore > div  {
    font-size: 6rem;
    position: relative;
}

.projectCard__seeMore > div > p > span {
    font-size: 2.5rem;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}