.education {
    padding: 2rem 1rem;
    width: 95%;
    margin: auto;
}

.education__timeline {
    background: var(--light_blue);
    padding: 2rem 1rem;
    border-radius: 10px;
    border: 2px solid white;
}

.education__title {
    padding: 1rem 0rem;
    font-size: 2rem !important;
    font-weight: 600;
    color: var(--gold_color);
    font-family: var(--heading-font);
}