.timeline > .vertical-timeline{ 
    color: var(--gold_color);
}

.timeline > .vertical-timeline::before {
    background: var(--gold_color);
}

.vertical-timeline-element-icon {
    background: var(--gold_color) !important;
}

.vertical-timeline-element-content {
    background: none !important;
    padding-top: 0 !important;
}

.vertical-timeline-element-content-arrow {
    border: none !important;
}

.vertical-timeline-element-title {
    font-family: var(--heading-font);
}

.vertical-timeline-element-subtitle {
    font-family: var(--text-font)
}

@media (max-width: 310px) {
    .vertical-timeline-element-title {
        font-size: 1rem;
        font-weight: 600;
    }

    .vertical-timeline-element-subtitle {
        font-size: 1rem;
    }
}