.about {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
}

.about__img > img {
    width: 100%;
}

.about > div {
    margin: 2rem 0rem;
    padding: 0rem 10px;
}

.about__detail > h2 {
    font-size: 2.5rem;
}

.about__detail > div > p {
    color: #fff;
    font-size: 1.3rem;
}

.about__detail--btn {
    background: var(--dark_blue);
    color: var(--gold_color);
    border: 4px solid var(--gold_color);
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.about__detail--btn > a {
    color: var(--gold_color);
}

.about__detail--btn > a:hover {
    color: var(--gold_color);
    text-decoration: none;
}

.about__detail--btn:hover {
    background: var(--light_blue);
    border-color: white;
}

@media (min-width: 750px) {
    .about {
        flex-direction: row;
        margin: 4rem 0rem;
        justify-content: space-around;
    }
 
    .about > div {
        margin: 2rem 1rem;
    }

    .about__detail {
        width: 50%;
    }
    .about__detail {
        padding: 1rem 10rem;
    }
}