*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --gold_color: #E6A257;
    --dark_blue: #1F2336;
    --light_blue: #313552;
}

.app {
    background: var(--dark_blue);
}

.app__main {    
    padding-top: 6rem;
    top: 50;
    color: var(--gold_color);
}
