@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: var(--dark_blue) */
}

:root {
    --gold_color: #E6A257;
    --dark_blue: #1F2336;
    --light_blue: #313552;
    --heading-font:'Merriweather', serif;;
    --text-font: 'Kiwi Maru', serif;
}

.app {
    background: var(--dark_blue);
}

.app__main {    
    padding-top: 6rem;
    top: 50;
    color: var(--gold_color);
}

p {
    font-family: var(--text-font);
}

.title {
    font-size: 2.5rem;
    font-family: var(--heading-font);
}